<!doctype html>

<html>
<head>
	<title> Schnip Login Screen </title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<link href="css/a5screen2.css" rel="stylesheet">
 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	
	
	
	
	<!-- {{> facebook}}
	<script src="/js/facebook.js"></script> -->
	<script src="/js/indexlog.js"></script>
		<style type="text/css">.wrapperfill{background-color:#6FC8CF;height:-webkit-fill-available}
</style>


</head>

<body>
	
	<div class="maincontainer" align="center" style="background-color:#7aa802; height: -webkit-fill-available;">
		
		<!-- logo -->
		<div class="row3" style="height:170px;"></div>
		<div>
		<img style="height:auto; vertical-align: middle; margin-right: auto;
    margin-left: auto" width="250" src="images/schnip.png">
	    </div>

		
		  <!--  <form>
				<div class="form-group">
					<input type="inputloyaltycard" class="form-control2" placeholder="User Name *" value=""/>
				</div>
				<br>
				<div class="form-group">
					<input type="inputloyaltycard" class="form-control2" placeholder="Password *" value=""/>
				</div>
				<br>
				<div>
					
				</div>
			</form> -->

<!-- 			<div class="row">

        <div class="col-12">
          <form id="rsvpForm">
            <div class="form-group">
              <label for="rsvpEmail">Email address</label>
              <input required type="email" class="form-control" id="rsvpEmail" aria-describedby="emailHelp" placeholder="Enter email">
              
            </div>
            <div class="form-group">
              <label for="rsvpExcited">Password </label>
              <input required type="name" id="rsvpExcited" class="form-control" placeholder="Enter password">
            </div>
           <a href = 'main'><button onclick="location.href = 'rsvp';" id="logg" class="btn btn-primary" >Log In</button></a>
          </form>
        </div>
      </div> -->

      	<div class="row">

        <div class="col-12">
          <form id="rsvpForm">
            <div class="form-group">
             
            
              <input type="inputloyaltycard" class="form-control2" id="rsvpEmail" placeholder="User Name *" value=""/>
              
            </div>
            <br>
            <div class="form-group">
              <input type="inputloyaltycard" class="form-control2" id="rsvpExcited" placeholder="Password *" value=""/>
             
            <br>
            </div>
           <button class="button2" style="width:70px" id="logg"><a href = 'rsvp'>Log In</a></button>
          </form>
        </div>
      </div>

		
			<!-- facebook -->
			
			<!-- <div class="container login-container">
				<div class="row">
					<div class="col-md-6 login-form-1">


						<div>
							<p class="facebookLogin">
							</br>
							<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
						</fb:login-button>
					        </p>
					<p hidden class="facebookLoginSuccess">
						Login Successful
						
					</br>
					<button type="button" class="buttonSway" style="vertical-align:middle" onclick="javascript:window.location.href='main'">Enter</button>
				    </p>
			            </div>



		            </div>
	             </div>

        
            </div> -->
            <!-- end of facebook -->
    <!-- Bottom -->


</div>
</body>

</html>