<!doctype html>

<html>
<head>
	<title>Schnip Main Screen</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"> -->
    <link href="css/a5screen2.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<script src="js/a5.js"></script>
	<style type="text/css">.wrapperfill{background-color:#6FC8CF;height:-webkit-fill-available}
</style>

	

</head>

<body>

	<div class="maincontainer">

		
		<!-- TOP nav bar-->	
		
        <div class="topbar">
			
                   <!-- drop down menu-->	
				<div class="dropdown">
					<img style= "height:35px" src ="images/menu.png">
					<div class="dropdown-content">
					<!-- 	add loyalty card -->
						<button class="buttonmaindrop"><a style="font-family:Gill Sans Nova; font-weight: 50" href="addcard">Loyalty Card</a></button>

						<!--<a id="clear" href="/">Sign Out</a> -->
			
						<button id="clear" class="buttonmaindrop"><a style="font-family:Gill Sans Nova; font-weight: 50" href="/">Sign Out</a></button>
					</div>
					<br width= "100">
				</div>

			     <!-- logo-->	
				<a href="rsvp">
                   
					<img style="width:auto; height:35px" src="images/schnip.png">
				</a>

				
	      </div>
		   

            <p></p>


        <!-- shopping at Ralphs? -->

    <div class="midcontainermain">

			   
					<li><h4 style="font-family:Gill Sans Nova; font-weight: 50">Ralphs</h4></li>
					<div class="dropdown" style="float:right">
						<button class="buttondown">Categories</button>
						<div class="dropdown-content">
							<a href="chicken" target="coupon_frame">Chicken</a>
								<a href="beef" target="coupon_frame">Beef</a>
								<a href="fish" target="coupon_frame">Fish</a>
								<a href="beverage" target="coupon_frame">Beverages</a>
								<a href="snack" target="coupon_frame">Snacks</a>
								<a href="other" target="coupon_frame">Other</a>
						</div>
					</div>
		

		
        </div>


        

        <!-- list of stores -->


		<iframe name="coupon_frame" src="chicken" style="border:none; padding:none;" ></iframe>

	    


				
        <!-- bottom nav bar -->
        <div class="bottombar">
			<ul>
				<li>
					<a href="main"> 
						<button style="background-color:#C7DB00"><img style="height: 35px;" src="images/back.png"></button>
					</a>
				</li>

			<li style="margin-right: 0px; float:right">
					<a href="checkout">
					 <button style="background-color:#C7DB00"><img style="height: 35px; margin-right: 0px" src="images/cart.png"></button>
					</a>
				</li>
			</ul>
				
			</div>






           
				<!-- Location detection -->
            </div>
		</body>

		</html>　